body, html { 
	height: 100%;
}

* {
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	 -ms-user-select: none;      /* IE 10+ */
  	user-select: none; 
}

.header, .footer {
	display: block;
	right:0;
	left:0;
	background-color: #8caca6;
	min-width: 100%;
}

.header {
	position: static;
	height:100px;
	top:0;
}

.logo {
	position: relative;
	height: 62px;
	width: 130px;
	top: 60%;
  	left: 6%;
  	transform: translate(-50%, -50%);
}

#logoImg {
	height: 40px;
	width: 90px;
}

.slider {
    width: 800px;
    height: 480px;
    overflow: hidden;
    position: relative;
    border: none;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.slide {
    position: absolute;
    height: 480px;
	width: 800px;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: .9;
    left: 15%;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.09s linear all;
}

.arrow.next {
    opacity: .9;
    right: 15%;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.09s linear all;
}

.arrow.prev:active {
    opacity: .3;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:active {
    opacity: .3;
    background-image: url(../assets/img/paddle_next_fff.png);
}


/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
	position: absolute;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    top: 95%;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 30px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    border: 1px solid black;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #000;
    background-color: #000;
}

.footer {
	display: block;
	position: fixed;
	height:100px;
	bottom:0px;
}

.swatch {
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	height: 30px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
}

.swatch:hover {
	cursor: pointer;
}

.swatch:active {
	color: grey;
	border-color: grey;
}

li, p {
	display: inline;
	list-style: none;
	margin-right: 4px;
	padding: 0px;
}

p {
	line-height: 28px; 
}

ul {
	padding-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 15px;
	height: 30px;
}

.tile-list,
.stone-list,
.laminate-list,
.vinyl-list {
	margin-top: 10px;
}

.tile-list,
.carpet-list {
	width: 400px;
}

.left,
.middle,
.right {
	display: inline-block;
	border: none;
	height: 100px;
}

.left {
	width: 400px;
}

.middle {
	margin-left: 20px;
	width: 198px;
}

.right {
	width: 265px;
	margin-left: 18px;
}

#flooring-lists-container {
	height: 100px;
	width: 909px;
	min-width: 909px;
	border: none;
	margin-left: auto;
	margin-right: auto;
}


