.header, .footer {
	display: block;
	right:0;
	left:0;
	background-color: #8caca6;
	min-width: 100%;
}

.header {
	position: static;
	height:100px;
	top:0;
}

.floor-plan-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
	position: static;
	margin: 0px;
	width: 824px;
	height: 540px;
}

button {
	height: 40px;
	width: 40px;
	font-size: 36px;
	background-color: #FFFFFF;
	color: grey;
	border: none;
	padding: 0px;
	outline: none;
}

button:hover {
	color: black;
}

button:active {
	color: grey;
}

.left-arrow {
	text-align: center;
	position: fixed;
  	top: 48%;
  	left: 20%;
  	transform: translate(-50%, -50%);
}

.right-arrow {
	text-align: center;
	position: fixed;
  	top: 48%;
  	left: 80%;
  	transform: translate(-50%, -50%);
}

.footer {
	display: block;
	position: fixed;
	height:100px;
	bottom:0px;
}

.swatch {
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	height: 30px;
	width: 60px;
	text-align: center;
	vertical-align: middle;
}

.swatch:hover {
	cursor: pointer;
}

.swatch:active {
	color: grey;
	border-color: grey;
}

li, p {
	display: inline;
	list-style: none;
	margin-right: 4px;
	padding: 0px;
}

p {
	line-height: 28px; 
}

ul {
	padding-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 15px;
	height: 30px;
}

.tile-list,
.stone-list,
.laminate-list,
.vinyl-list {
	margin-top: 10px;
}

.tile-list,
.carpet-list {
	width: 400px;
}

.left,
.middle,
.right {
	display: inline-block;
	border: none;
	height: 100px;
}

.left {
	width: 400px;
}

.middle {
	margin-left: 20px;
	width: 198px;
}

.right {
	width: 265px;
	margin-left: 18px;
}

#flooring-lists-container {
	height: 100px;
	width: 909px;
	min-width: 909px;
	border: none;
	margin-left: auto;
	margin-right: auto;
}


