<!DOCTYPE html>
<html lang="en" ng-app="website">
	<head>
		<meta charset="UTF-8" Access-Control-Allow-Origin="*">
		<title>inView</title>
		<link rel="icon" type="image/png" href="img/house.png">
		<script src="js/node_modules/jquery/dist/jquery.min.js"</script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/node_modules/angular/angular.min.js"></script>
		<script src="js/node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="js/node_modules/gsap/src/minified/TweenMax.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div class="header">
			<div class="logo">
				<img src="img/inViewLogo.png" id="logoImg">
			</div>
		</div>
		<a class="arrow prev" href="#" ng-click="prevSlide()"></a>
		<div class="floor-plan-container slider">
			<img ng-repeat="slide in slides" class="slide slide-animation floorplans" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
			<nav class="nav">
        		<ul class="dots">
            		<li class="dot" ng-repeat="slide in slides">
                		<a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);"></a></li>
        		</ul>
    		</nav>
		</div>
		<a class="arrow next" href="#" ng-click="nextSlide()"></a>

		<div class="footer">
			<div id="flooring-lists-container">
				<div class="left">
					<ul class="carpet-list">
						<li ng-repeat="carpet in flooring.carpet">
							<div ng-style="{'background-color': carpet.color}" class="swatch">
								<p>{{ carpet.tag }}</p>
							</div>
						</li>
					</ul>
					<ul class="tile-list">
						<li ng-repeat="tile in flooring.tile">
							<div ng-style="{'background-color': tile.color}" class="swatch">
								<p>{{ tile.tag }}</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="middle">
					<ul class="wood-list">
						<li ng-repeat="wood in flooring.wood">
							<div ng-style="{'background-color': wood.color}" class="swatch">
								<p>{{ wood.tag }}</p>
							</div>
						</li>
					</ul>
					<ul class="stone-list">
						<li ng-repeat="stone in flooring.stone">
							<div ng-style="{'background-color': stone.color}" class="swatch">
								<p>{{ stone.tag }}</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="right">
					<ul class="laminate-list">
						<li ng-repeat="laminate in flooring.laminate">
							<div ng-style="{'background-color': laminate.color}" class="swatch">
								<p>{{ laminate.tag }}</p>
							</div>
						</li>
					</ul>
					<ul class="vinyl-list">
						<li ng-repeat="vinyl in flooring.vinyl">
							<div ng-style="{'background-color': vinyl.color}" class="swatch">
								<p>{{ vinyl.tag }}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>